<style type="text/css">
  .nav-item{
    font-size:20px;
  }
  .sub_page .brand_box {
    position: relative;
    background-image: url(https://newsimg.hankookilbo.com/cms/articlerelease/2019/01/18/201901181416394911_1.jpg);
    padding: 45px 0;
}
</style>
<section class="nav_section">
    <div class="container">
      <div class="custom_nav2">
        <nav class="navbar navbar-expand custom_nav-container ">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex  flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="/organic/main/">홈<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/organic/introduce_hong/">제작자 소개</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/organic/seed_list/">종자</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/organic/plantation_insect/">재배기술</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/organic/board/list/">자유게시판</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/organic/book_list/">원예 도서</a>
                </li>
                <li class="nav-item">
                  {% if not request.session.id %}
                  <a class="nav-link" href="/organic/login_main/">로그인</a>
                  {% else %}
                   <a class="nav-link" href="/organic/logout/">로그아웃</a>
                  {% endif %}
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </section>