{% load static %}
<div class="container">
      <div class="heading_container">
        <hr>
        <h2>
          👨🏻‍🌾여러가지 재배기술을 알아보아요
        </h2>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
      <div class="fruit_container">
        <div class="box">
          <img src="https://vrthumb.clipartkorea.co.kr/2021/03/25/ta0054a0314.jpg" alt="">
          <div class="link_box">
            <h5>
              병해충/작물장애진단과 재배기술
            </h5>
            <a href="/organic/plantation_insect/">
              상세보기
            </a>
          </div>
        </div>
        <div class="box">
          <img src="https://data.ac-illust.com/data/thumbnails/f5/f5db55a78ae9522c73cce92c331b7ed0_t.jpeg" alt="">
          <div class="link_box">
            <h5>
              이미지로보는 재배기술
            </h5>
            <a href="/organic/plantation_imageList/">
              상세보기
            </a>
          </div>
        </div>
        <div class="box">
          <img src="http://vrthumb.clipartkorea.co.kr/2017/08/02/ti087a17107.jpg" alt="">
          <div class="link_box">
            <h5>
              주말농장잡지
            </h5>
            <a href="/organic/plantation_magazineList/">
              상세보기
            </a>
          </div>
        </div>
      </div>
          </div>
        <div class="col-sm-1"></div>
      </div>
      <hr>
    </div>